.footer {
	// padding: 0 $xxl-size;
	// background: $off-white;
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
	// display: grid;
	// grid-template-columns: repeat(2, 50%);

	// @include mobile {
	// 	padding: 0;
	// 	padding-top: 2.5rem;
	// 	flex-direction: column;
	// 	text-align: center;
	// }

	// a {
	// 	text-decoration: underline;
	// }
	height: 12rem;
	background: linear-gradient(
		90deg,
		rgba(99, 196, 82, 1) 0%,
		rgba(99, 196, 82, 1) 50%,
		rgba(249, 249, 249, 1) 50%,
		rgba(255, 255, 255, 1) 100%
	);
}

.footer-cols {
	display: flex;
}

.footer-logo {
	margin-top: 5rem;
}

.footer-col-1 {
	width: 50%;
	text-align: center;

	@include mobile {
		flex-basis: none;
		order: 1;
		text-align: center;
	}
}

.footer-col-2 {
	width: 50%;
	margin-left: 5rem;
	margin-top: 1rem;
	text-align: left;

	@include mobile {
		flex-basis: none;
		order: 3;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.social-icons {
	img {
		width: 3.2rem;
		margin-right: 1rem;
	}
}

@include mobile {
	.footer-col-1,
	.footer-col-2 {
		width: 100%;
		margin: $s-size 0;
	}
}
